*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* change the font family to outfit for heading  */

body{
    background-color:#010922;
     margin: 60px 160px ;
    color: white;
    font-family: sans-serif;
}

#main{
    margin-top: 80px;
    /* 4breaks =80px */
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: 700;
}

#logo{
    font-weight:700 ;
    font-size: 20px;
}

.header{
    flex-wrap: wrap;
}

.navbar{
    gap:50px;
     /* flex-wrap: wrap; */
    font-weight:500 ;
}

.mainsection{
    align-items: center;  
}

#img1{
    z-index: 1;
}

#img1, #img2, #img3 {
  width: 100%;
  height: auto;
  max-width: 500px; /* prevents it from getting too large on big screens */
}
/* img4 is default  */
/* #img1{
    height: 500px;
} */

h1{
    font-size: 87px;
    font-weight: 700;
    z-index: 1;
}

p{
    font-size: 18px;
}
.buy{
    padding: 20px 40px;
    margin: 20px 10px 0 0;
    background-color:#8C8CDA;
    border-radius: 35px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
}
.sell{
    padding: 20px 40px;
    background-color:transparent;
    color: white;
    margin: 20px 10px 0 0;
    border: 2px solid #8C8CDA;
    border-radius: 35px;
    font-size: 18px;
    letter-spacing: 1px;
}
.buy:hover{
    border: 2px solid #8C8CDA;
    background-color:transparent;  
}

.sell:hover{
   background-color:#8C8CDA; 
}

.testimonials , .featured-on{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.logo-component{
    background-color: rgba(40, 35, 93,0.8);
    padding: 10px;
    border-radius: 15px;
}

.margin-bottom{
    margin-bottom: 150px;
}

/* #img2{
    height: 400px;
} */

.font-size-40px{
    font-size: 40px;
}

/* #img4{
  
    height:auto ;
} */

#sect6-div{
    width: 1120px;
    height: 470px;
    /* flex-shrink: 0; */
    border-radius: 57px;
    border: 1px solid #000;
    background: linear-gradient(275deg, rgba(146, 211, 212, 0.57) -5.76%, rgba(16, 17, 85, 0.82) 67.01%);
}

#innerdiv6{
   text-align: center;
   margin-top: 100px;
}

ul li{
    list-style: none;
    margin-bottom: 10px;
}

#circle , #circle1 , #circle2{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.7;
  transform: translate(-50%, -50%);
  z-index: 0; /* stays behind everything */
  background: radial-gradient(circle, #6c63ff 0%, #3b32c5 100%);
}
#circle{
    top: 5%;
    left: 50%;
}
#circle1{
    top: 70%;
    right: 90%;
    width: 200px;
    height: 200px;
}
#circle2{
    left: 90%;
    top: 50%;
    background: radial-gradient(circle, #a046d77f 0%, #7a34bb 100%);
}

.n-letter{
    display: block;
    padding: 10px 20px;
    color: white;
    border: 2px solid #28235dcc;
    border-radius: 35px;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    background-color: #28235dcc;
}

.testi{
    width: 300px;
    height: 400px;
    background-color: rgba(40, 35, 93,0.8);
    text-align: center;
    padding: 10px 20px;
    border-radius: 30px;

}
#testi-img1{
    border: 0;
    width: 100px;
    border-radius: 50%;
    position:relative;
    bottom: 70px;
}
 @media (max-width: 768px) {
  h1{
    font-size: 47px;
    font-weight: 500;
  }
} 
